html, body {
  height: 100%;
}

.center {
  background-color: #0f0f0f;
  background: linear-gradient(to bottom right, #0f0f0f, #aa1414);
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}

.center h1 {
  color: #e8e8e8;
  position: absolute;
  width: 200px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -100px;
}
